/** {
  border: 3px solid black;
}

*/
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img {
  width: 100%;
  height: 100%;
}

.header {
    background: #1F2937;
}

.alignheader {
  display: flex;
  justify-content: space-between;
  padding: 10px 25%;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    padding: 8px;
    color: #F9FaF8;
    flex-shrink: 0;
}

.links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 8px;
    gap: 16px;
    font-size: 18px;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: #e0e2e7;
}

.containerone {
    background: #1F2937;
    padding: 5% 25% ;
}

.alignone {
  display: flex;
  justify-content: space-between;
}

.containoneone {
  max-width: 75%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 8px;
  flex: 1;
}

.HeroMain {
  font-size: 48px;
  color: #F9FAF8;
  font-weight:95%;
  margin-bottom: 8px;
}

.HeroLame {
  font-size: 18px;
  color: #E5E7EB;
  max-width: 95%;
  margin-bottom: 8px;
}

.signupone {
  background-color: #3882F6;
  color: white;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 18px;
}

.imgone {
  display: block;
  max-width: 50%;
  max-height: auto;
  align-self: flex-end;
}

.containertwo {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    flex: 1;
}

.containtitle {
  font-size: 36px;
  font-weight: 700;
  margin: 24px
}
  
.organizedboxes {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 40px;
}
  
.item {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 200px;
  align-self: flex-start;
}

.help {
  padding: 4px;
  border: 4px #3882F6 solid;
  border-radius: 20px;
  background-color: #1F2937;
}
  
.text {
  text-align: center;
  width: 150px;
  font-size: 18px;
  margin: 12px;
  }
  
.containerthree {
  display: flex;
  justify-content: center;
  background-color: #E5E7EB;
  padding: 40px;
}

.alignthree {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}
.BigQuote {
  font-size: 36px;
  color: #1F2937;
  font-weight: 300;
  font-style: italic;
  max-width: 800px;
}

.littlequote {
  align-self: flex-end;
  font-size: 24px;
  font-weight: 500;
}

.containerfour {
  display: flex;
  padding: 5% 25%;
}

.alignfour {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882F6;
  padding: 25px;
  width: 100%;
  border-radius: 10px;
}

.calltoaction {
  list-style: none;
  margin-left: 100px;
  
}

.signuptwo {
  background-color: #3882F6;
  color: white;
  border: 2px #F9FAF8 solid;
  border-radius: 8px;
  font-weight: bold;
  font-size: 18px;
  padding: 8px 32px;
  margin-right: 100px;
}

.bigcall {
  font-size: 24px;
  font-weight: bold;
  padding: 0px;
  color: #F9FaF8;
  flex-shrink: 0;
}

.littlecall {
  font-size: 18px;
  color: #E5E7EB;
  max-width: 90%;
  
}

.containerfive {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}
.footer {
  color: #F9FAF8 ;
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}