/* {
  border: 3px solid black;
}
*/
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

img {
  width: 100%;
  height: 100%;
}

.header {
    background: #1F2937;
}

.alignheader {
  display: flex;
  justify-content: space-between;
  padding: 0px 15%;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    padding: 8px;
    color: #F9FaF8;
    flex-shrink: 0;
}

.links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 8px;
    gap: 16px;
    font-size: 18px;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: #e0e2e7;
}

.containerone {
    background: #1F2937;
    padding: 5% 15% ;
}

.alignone {
  display: flex;
  justify-content: space-between;
}

.containoneone {
  max-width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 8px;
}

.HeroMain {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: bolder;
  max-width: 75%;
  margin-bottom: 8px;
}

.HeroLame {
  font-size: 18px;
  color: #E5E7EB;
  max-width: 90%;
  margin-bottom: 8px;
}

.signupone {
  background-color: #3882F6;
  color: white;
  border-radius: 8px;
  padding: 8px;
  font-weight: bold;
  font-size: 18px;
}

.containertwo {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    flex: 1;
}
.imgone {
  display: block;
  max-width: 540px;
  max-height: 360px;
  width: 50%;
  height: auto;
  align-self: flex-end;
}
.containtitle {
  font-size: 36px;
  font-weight: 700;
  margin: 24px
}
  
.organizedboxes {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
  }
  
.item {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 200px;
  align-self: flex-start;
}
  
.text {
  text-align: center;
  width: 150px;
  font-size: 18px;
  }
  
.containerthree {
  display: flex;
  justify-content: center;
  background-color: #E5E7EB;
  padding: 40px;
}

.alignthree {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.BigQuote {
  font-size: 36px;
  color: #1F2937;
  font-weight: 300;
  font-style: italic;
  width: 600px;
}

.littlequote {
  align-self: flex-end;
  font-size: 14px;
  font-weight: 400;
}

.containerfour {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.alignfour {
  display: flex;
  flex-flow: row;
}

.calltoaction {
  list-style: none;
}

